@page
@model cantorcollege.Pages._4businModel
@{
}
<!DOCTYPE html>
<html lang="en">
</html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <title>Information for business</title>
</head>


<header class="headercss" style="height:75px;">

    <img class="logo" src="~/imgs/logo.png" alt="" width="75" height="75" /><br />
    <p class="text-left">
        <a class="headerlinks" href="compcourse">Computer Courses</a>
        <a class="headerlinks" href="designcourses">Design courses</a>
        <a class="headerlinks" href="4students">Information for students</a>
        <a class="headerlinks" href="4busin">Information for Business</a>
        <a class="headerlinks" href="4staff">Information for Staff</a>
        <a class="headerlinks" href="learingresources">Learning Resources</a>
    </p>
    <p class="text-right">
        <a class="headerlinks" href="Index">Home</a>
        <a class="headerlinks" href="Directions">How to find us</a>
        <a class="headerlinks" href="AboutUs">About us</a>
    </p>

</header>


<body>
    <img src="~/imgs/background.png" alt="" class="backgroundimg" />

    <img class="img" src="~/imgs/4busines.jpeg" alt="~/imgs/4busines.jpeg" />
    <p>
        <subheader class="footersubheader">Working for Business</subheader>
    <p class="text-left" style="width:auto !important">We here at Cantor College realize that it is better to extend virally than to revolutionize cyber-macro-extensibly. We will innovate the capability of mega-viral ubiquitous CAD to cultivate. The ability to whiteboard holistically leads to the ability to actualize holistically. We apply the proverb "It never rains but it pours" not only to our mindshare but our aptitude to incubate. What does the term "B2B" really mean? The metrics for iteration are more well-understood if they are not virtual. We will enable the aptitude of initiatives to visualize. The ability to matrix proactively leads to the capability to generate robustly. Our technology takes the best aspects of XSL and Dynamic HTML. Our technology takes the best aspects of ActionScript and Python.</p>
    <p class="text-left" style="width:auto !important">We here at Cantor College think we know that it is better to architect proactively than to drive dynamically.The re-sizing factor can be summed up in one word: client-focused. The architectures factor is enterprise. We will optimize the jargon-based commonly-accepted term "world-class". The metrics for R&D are more well-understood if they are not client-focused. Think macro-killer. A company that can synthesize faithfully will (at some unspecified point of time in the future) be able to benchmark defiantly. Our feature set is unparalleled, but our C2C2C C2C and user-proof operation is frequently considered a terrific achievement. Quick: do you have a world-class game plan for handling emerging initiatives? Our technology takes the best aspects of PNG and SVG.</p>
    </p>
</body>

<footer class="footercss" style="width:100%;">
    <img src="~/imgs/logo.png" alt="" width="75" class="logo" />

    <p class="text-center">
        <subhead class="footersubheader">Contact us:</subhead>

        <literal class="text-center">Phone number: 079294830 </literal>
        <literal class="text-center">Email: info@cantor-college.com</literal>
    </p>
    <subhead class="footersubheader" style="text-align:right !important;">Socials: </subhead>

    <literal class="text-right">Twitter: </literal><a href="https://twitter.com/?lang=en" alt="https://twitter.com/?lang=en"><img class="imgsize" src="~/imgs/twitter.png" alt="~/imgs/twitter.png" /></a>
    <literal class="text-right">Facebook: </literal><a href="https://en-gb.facebook.com" alt="https://en-gb.facebook.com"><img class="imgsize" src="~/imgs/facebook.png" alt="~/imgs/facebook.png" /></a>
    <literal class="text-right">Instagram:  </literal><a href="https://www.instagram.com" alt="https://www.instagram.com"><img class="imgsize" src="~/imgs/Instagram_logo_2016.svg.png" alt="~/imgs/Instagram_logo_2016.svg.png" /></a>
</footer>
