@page
@model cantorcollege.Pages.aboutus
@{
}
<!DOCTYPE html>
<html lang="en"></html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <title>About US</title>
</head>

<img src="~/imgs/background.png" alt="" class="backgroundimg" />

<header class="headercss" style="height:75px;">

    <img class="logo" src="~/imgs/logo.png" alt="~/imgs/logo.png" width="75" height="75" /><br />
    <p class="text-left">
        <a class="headerlinks" href="compcourse">Computer Courses</a>
        <a class="headerlinks" href="designcourses">Design courses</a>
        <a class="headerlinks" href="4students">Information for students</a>
        <a class="headerlinks" href="4busin">Information for Business</a>
        <a class="headerlinks" href="4staff">Information for Staff</a>
        <a class="headerlinks" href="learingresources">Learning Resources</a>
    </p>
    <p class="text-right">
        <a class="headerlinks" href="Index">Home</a>
        <a class="headerlinks" href="Directions">How to find us</a>
        <a class="headerlinks" href="AboutUs">About us</a>
    </p>

</header>

<body>
    <p class="text-left">The Cantor building on Furnival Street houses elements of the College of Business, Technology and Engineering, as well as other campus facilities. It has a total floor space of 9500m², houses over 240 staff and provides teaching space for more than 1600 students.</p>
    <section class="ac-container">
        <div>
            <input id="ac-1" name="accordion-1" type="radio">
            <label for="ac-1">Facilities include:</label>
            <article class="ac-small">
                <p class="text-left">wi-fi technology</p>
                <p class="text-left">pool teaching rooms, including classrooms to teach from 25 - 80 students</p>
                <p class="text-left">specialist faculty facilities</p>
                <p class="text-left">a double height lecture theatre at first and second floor </p>
                <p class="text-left">dramatic three-storey glass open atrium</p>
                <p class="text-left">meeting rooms</p>
                <p class="text-left">office accommodation</p>
                <p class="text-left">specialist IT facilities</p>
                <p class="text-left">reception desk area</p>
                <p class="text-left">catering outlet</p>
                <p class="text-left">reception desk area</p>
                <p class="text-left">reception desk area</p>
                <p class="text-left">cycle racks</p>
                <p class="text-left">parking for disabled badge holders</p>
                <p class="text-left">gallery</p>
            </article>
        </div>
    </section>
    <p class="text-left">One exciting feature is the large level window along Furnival Street, forming an active frontage onto Arundel Gate. Here, the gallery space enables students to display their work to passers by forming a public interface along Arundel Street. This effectively provides a shop window for our student work.</p>
    <p class="text-right">This building also boasts some of the most sustainable and energy-saving features anywhere in the city.</p>
</body>

<footer class="footercss" style="width:100%;">
    <img src="~/imgs/logo.png" alt="" width="75" class="logo" />

    <p class="text-center">
        <subhead class="footersubheader">Contact us:</subhead>

        <literal class="text-center">Phone number: 079294830 </literal>
        <literal class="text-center">Email: info@cantor-college.com</literal>
    </p>
    <subhead class="footersubheader" style="text-align:right !important;">Socials: </subhead>

    <literal class="text-right">Twitter: </literal><a href="https://twitter.com/?lang=en" alt="https://twitter.com/?lang=en"><img class="imgsize" src="~/imgs/twitter.png" alt="~/imgs/twitter.png" /></a>
    <literal class="text-right">Facebook: </literal><a href="https://en-gb.facebook.com" alt="https://en-gb.facebook.com"><img class="imgsize" src="~/imgs/facebook.png" alt="~/imgs/facebook.png" /></a>
    <literal class="text-right">Instagram:  </literal><a href="https://www.instagram.com" alt="https://www.instagram.com"><img class="imgsize" src="~/imgs/Instagram_logo_2016.svg.png" alt="~/imgs/Instagram_logo_2016.svg.png" /></a>
</footer>
