@page
@model cantorcollege.Pages.designcourses
@{
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <title>Design Courses</title>
</head>

<img src="~/imgs/background.png" alt="~/imgs/background.png" class="backgroundimg" />

<header class="headercss" style="height:75px;">

    <img class="logo" src="~/imgs/logo.png" alt="~/imgs/logo.png" width="75" height="75" /><br />
    <p class="text-left">
        <a class="headerlinks" href="compcourse">Computer Courses</a>
        <a class="headerlinks" href="designcourses">Design courses</a>
        <a class="headerlinks" href="4students">Information for students</a>
        <a class="headerlinks" href="4busin">Information for Business</a>
        <a class="headerlinks" href="4staff">Information for Staff</a>
        <a class="headerlinks" href="learingresources">Learning Resources</a>
    </p>
    <p class="text-right">
        <a class="headerlinks" href="Index">Home</a>
        <a class="headerlinks" href="Directions">How to find us</a>
        <a class="headerlinks" href="AboutUs">About us</a>
    </p>

</header>


<body>
    <div>
        <img class="img" src="~/imgs/IMG_1099.jpeg" alt="~/imgs/logo.png" />
    </div>

    <p class="summary">
        @* Ref = https://www.shu.ac.uk/courses/art-and-design?page=0&perPage=5&query=&yearOfEntry=2022%2F23 *@
        We are an internationally connected creative community of diverse disciplines housed under one roof. We shape our students' futures, preparing them to shape the world through applied knowledge and creativity.<br /> <br />

        Our art and design courses don't just train you, they promote alternative ways of thinking, making and communicating; they provide you with space, tools and inspiration to develop your creative practice and a clear career path. You'll get expert teaching from active practitioners and researchers who will encourage you to adopt innovative and resourceful approaches that both perceive and create opportunities for better lives. You’ll develop your creative practice whilst interacting with your peers in well-equipped studios, making and digital workshops. At the same time, you'll learn professional skills by working on applied briefs facilitated through our links with commercial clients, cultural institutions, businesses and organisations.
    </p>
    <a class="links" href="">
        Level: BA(Hons)
        Course title: Creative Advertising
        Duration: 3+1 Years
    </a>
    <a class="links" href="">
        Level: BA(Hons)
        Course title: Creative Advertising
        Duration: 3+1 Years
    </a>
    <a class="links" href="">
        Level: BA(Hons)
        Course title: Graphic Design
        Duration: 3+1 Years
    </a>
    <a class="links" href="">
        Level: BA(Hons)
        Course title: Illustration
        Duration: 3+1 Years
    </a>
    <a class="links" href="">
        Level: BA(Hons)
        Course title: Furniture
        Duration: 3 Years
    </a>
    <a class="links" href="">
        Level: BA(Hons)
        Course title: Jewellery
        Duration: 3 Years
    </a>
    <a class="links" href="">
        Level: BA(Hons)
        Course title: Surface Pattern
        Duration: 3 Years
    </a>
    <a class="links" href="">
        Level: BA(Hons)
        Course title: Tableware
        Duration: 3 years
    </a>
    <a class="links" href="">
        Level: BA(Hons)
        Course title: Design Studies
        Duration: 3 Years
    </a>
    <a class="links" href="">
        Level: Combined Honours
        Course title: Design Studies
        Duration: 1 Year
    </a>
    <a class="bottomlink" href="">
        Level: MA
        Course title: Jewellery
        Duration: 4 Years
    </a>
</body>

<footer class="footercss" style="width:100%;">
    <img src="~/imgs/logo.png" alt="" width="75" class="logo" />

    <p class="text-center">
        <subhead class="footersubheader">Contact us:</subhead>

        <literal class="text-center">Phone number: 079294830 </literal>
        <literal class="text-center">Email: info@cantor-college.com</literal>
    </p>
    <subhead class="footersubheader" style="text-align:right !important;">Socials: </subhead>


    <literal class="text-right">Twitter: </literal><a href="https://twitter.com/?lang=en" alt="https://twitter.com/?lang=en"><img class="imgsize" src="~/imgs/twitter.png" alt="~/imgs/twitter.png" /></a>
    <literal class="text-right">Facebook: </literal><a href="https://en-gb.facebook.com" alt="https://en-gb.facebook.com"><img class="imgsize" src="~/imgs/facebook.png" alt="~/imgs/facebook.png" /></a>
    <literal class="text-right">Instagram:  </literal><a href="https://www.instagram.com" alt="https://www.instagram.com"><img class="imgsize" src="~/imgs/Instagram_logo_2016.svg.png" alt="~/imgs/Instagram_logo_2016.svg.png" /></a>
</footer>
