@page
@model cantorcollege.Pages.index
@{
}
<html lang="en">
</html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <title>Home</title>
</head>

<img src="~/imgs/background.png" alt="~/imgs/background.png" class="backgroundimg" />

<header class="headercss" style="height:75px;">

    <img class="logo" src="~/imgs/logo.png" alt="~/imgs/logo.png" width="75" height="75" />
    
    <p class="text-right">
        <a class="headerlinks" href="/Index">Home</a>
        <a class="headerlinks" href="/Directions">How to find us</a>
        <a class="headerlinks" href="/AboutUs">About us</a>
    </p>
</header>

<body>
    <img class="img" src="~/imgs/Curvedbuilding.jpeg" alt="~/imgs/Curvedbuilding.jpeg" style="margin-bottom:15px;" />
    <h1 class="footersubheader" style="font-size:50px;">Welcome to Cantor College</h1>
    <a class="indexlinks" style="font-size:50px !important;" href="\compcourse">Computer Courses</a><br /><br />
    <a class="indexlinks" style="font-size:50px !important;" href="\designcourses">Design courses</a><br /><br />
    <a class="indexlinks" style="font-size:50px !important;" href="\4students">Information for students</a><br /><br />
    <a class="indexlinks" style="font-size:50px !important;" href="\4busin">Information for Business</a><br /><br />
    <a class="indexlinks" style="font-size:50px !important;" href="\4staff">Information for Staff</a><br /><br />
    <a class="indexlinks" style="font-size:50px !important;" href="learingresources">Learning Resources</a>
</body>
<footer class="footercss" style="width:100%;">
    <img src="~/imgs/logo.png" alt="" width="75" class="logo" />

    <p class="text-center">
        <subhead class="footersubheader">Contact us:</subhead>

        <literal class="text-center">Phone number: 079294830 </literal>
        <literal class="text-center">Email: info@cantor-college.com</literal>
    </p>
    <subhead class="footersubheader" style="text-align:right !important;">Socials: </subhead>


    <literal class="text-right">Twitter: </literal><a href="https://twitter.com/?lang=en" alt="https://twitter.com/?lang=en"><img class="imgsize" src="~/imgs/twitter.png" alt="~/imgs/twitter.png" /></a>
    <literal class="text-right">Facebook: </literal><a href="https://en-gb.facebook.com" alt="https://en-gb.facebook.com"><img class="imgsize" src="~/imgs/facebook.png" alt="~/imgs/facebook.png" /></a>
    <literal class="text-right">Instagram:  </literal><a href="https://www.instagram.com" alt="https://www.instagram.com"><img class="imgsize" src="~/imgs/Instagram_logo_2016.svg.png" alt="~/imgs/Instagram_logo_2016.svg.png" /></a>
</footer>
